.container{
    width:300px ; 
    height:500px;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    margin-right:10%;
    
    
}
.container img{
    height:300px;
    width: 300px;
    object-fit: cover;
}
.beforeintro{
    width:300px;
    height:200px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    
}
.after{
    position: absolute;
    visibility: hidden;
}
.name,
.intro,
.addr,
.price,
.btn{
    width:300px;
    color: #fff;
    display: flex;
    left:20px;
    align-items: center;
}

.name{
    height:150px;
}
.intro{
    height:100px;
}
.addr{
    height:100px;
}
.price{
    height:50px;
}
.btn{
    height:150px;
}

.button{
    padding: 8px 20px;
    border-radius: 10px;
    font-weight:bolder;
    outline: none;
    border: none;
    cursor: none;
}

.container p{
    margin: 0;
}
.container:hover{
    transform: translateY(-220px);
}
.container:hover img{
    height: 500px;
    transition:all 1s ease 0s;
    position:absolute;
    filter: brightness(0.7);
}
.container:hover .beforeintro{
    visibility: hidden;
    position: absolute;
}
.container:hover .after{
    transition-delay: 1.1s;
    visibility:visible;
    position: relative;
}