@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.loginformcontainer {
    background: #333333;
    
    height: 95%;
    width: 420px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    border-radius: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-top: 3rem;
    padding-bottom: 5rem;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    height: 80px;
    width: 80px;
} 

.title {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 40px;
}

.block {
    background: #ffffff;
    width: 100%
}
.button {
    width: 68%;
}
.button, .block {
    border: none;
    border-radius: 1rem;
    font-size: 18px;
    
}

.content {
    width: 62%;
}

.line1, .line2 {
    width: 72%;
    border: 1px solid #333333;
}

.form {
    width: 69%;
}

.button2 {
    width: 5%;
    height: 5%;
    border: none;
    background-color: #d9d9d9;

}

.checkbox {
    height: 15px;
    width: 15px;
}
.chcontent {
    font-size: 18px;
    font-weight: 650;
}

.link2 .content {
    color: #4CB6C5;
}
.link1 .content {
    color: #4CB6C5;
}


