// theme colors
$background-color: #D9D9D9;
$secondary-color: aliceblue;
$decorate-color: #96897B; //#858585;
$header-background: #FA9500;
$light-theme-color: #ffc266;
$light-grey: #EEEEEE;
//https://coolors.co/palettes/popular/orange

// spacing
$base-padding: 0.75rem;
$base-margin: 1rem;
$edge-margin: $base-margin * 2.5;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;


// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.2;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 1.8;
$font-size-xxl: $base-font-size * 3;

$font-size-sm-title: $base-font-size * 5;
$font-size-title: $base-font-size * 6;

//font family
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
$heading-font: Microsoft JhengHei;
$title-font: 'Courgette', cursive;