// variables & functions
// @import 'functions';
@import 'variables';

// base & layout
@import 'breakpoints';
// @import 'grid';


// components (button, card, navbar etc)
@import '../components/multi-header';
@import '../components//multi-leftsearchbar';

@import '../components/home-intro';
@import '../components/home-login-bt';
@import '../components/home-searchform';
@import '../components/home-section';
@import '../components/login-loginform';
@import '../components/userIndex-option';
@import '../components/userIndex-setting';
@import '../components/userIndex-section';

@import '../components/hotelInfo-room';
@import '../components/hotelInfo-attraction';
@import '../components/hotelInfo-evaluate';
@import '../components/hotelInfo-information';
@import '../components/hotelInfo-transportation';
@import '../components/hotelInfo-book';
@import '../components/hotelinfo-title';
@import '../components/hotelinfo-section';

@import '../components/search-filter';
@import '../components/search-order';
@import '../components/search-result';
@import '../components/search-searchform';
@import '../components/search-section';

@import '../components/userMulti-menu';
@import '../components/userPersonalInfo-section';
@import '../components/userHotelDetail-section';
@import '../components/userSellIndex-setting';
@import '../components/userSellOrder-setting';
// utilities (margin, padding, opacity, etc)
// @import 'utilities';