@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.introcontainer {
  position: absolute;
  display: flex;
  margin-right: 3%;
  margin-top: 1%;
  right: 0%;
  top: 10%;
  width: 500px;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
@media (min-width: 480px) {
  .introcontainer {
    visibility: hidden;
  }
}
@media (min-width: 720px) {
  .introcontainer {
    visibility: hidden;
  }
}
@media (min-width: 960px) {
  .introcontainer {
    visibility: visible;
  }
}
.introcontainer .title {
  color: #fff;
  margin-top: 1rem;
}
.introcontainer .line1 {
  width: 40%;
  position: relative;
}
.introcontainer .content {
  color: #fff;
  margin-top: 10px;
  font-size: 1.2rem;
}
.introcontainer .hidden {
  color: transparent;
  transition: 0.5s;
}

.loginbtcontainer {
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: 300px;
  display: flex;
  color: white;
  align-items: center;
  font-family: Microsoft JhengHei;
  font-weight: bold;
}
.loginbtcontainer p {
  font-size: 1rem;
  color: white;
}
.loginbtcontainer .button {
  color: white;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}
.loginbtcontainer .button:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.searchcontainer {
  height: 60px;
  position: relative;
  background-color: aliceblue;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  left: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 480px) {
  .searchcontainer {
    width: 530px;
  }
}
@media (min-width: 720px) {
  .searchcontainer {
    width: 620px;
  }
}
@media (min-width: 960px) {
  .searchcontainer {
    width: 850px;
  }
}
@media (min-width: 1200px) {
  .searchcontainer {
    width: 850px;
  }
}
.searchcontainer p {
  transform: translateY(-5%);
}
.searchcontainer .button {
  height: 50px;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  outline: none;
  text-align: center;
  font-weight: bold;
  transform: translateY(-5%);
}
.searchcontainer .selectform {
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  transform: translateY(-5%);
}
.searchcontainer .option {
  font-weight: bold;
  background: transparent;
}
.searchcontainer .time {
  border: 0;
  background-color: aliceblue;
  font-size: 1rem;
  font-weight: bold;
  transform: translateY(-5%);
  cursor: pointer;
}

.homesectioncontainer {
  /*background: var(--img) center center/cover no-repeat;*/
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  -o-object-fit: contain;
     object-fit: contain;
}
.homesectioncontainer .webname {
  color: #fff;
  left: 5%;
  margin-bottom: 3%;
  font-family: "Courgette", cursive;
  position: relative;
}
@media (min-width: 480px) {
  .homesectioncontainer .webname {
    font-size: 5rem;
    width: 380px;
  }
}
@media (min-width: 720px) {
  .homesectioncontainer .webname {
    font-size: 6rem;
    width: 500px;
  }
}
.homesectioncontainer .background {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.7);
  position: fixed;
  z-index: -2;
}
.homesectioncontainer .scrollbutton {
  display: inline-block;
  padding: 0;
  right: 5%;
  color: #000;
  text-decoration: none;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}
@media (min-width: 480px) {
  .homesectioncontainer .scrollbutton {
    visibility: hidden;
  }
}
@media (min-width: 720px) {
  .homesectioncontainer .scrollbutton {
    visibility: hidden;
  }
}
@media (min-width: 960px) {
  .homesectioncontainer .scrollbutton {
    visibility: visible;
  }
}
.homesectioncontainer .scrollindicator {
  position: absolute;
  bottom: 0;
}
.homesectioncontainer .scrollindicatorlabel {
  display: block;
  margin-bottom: 2rem;
  font-size: 1rem;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
}
.homesectioncontainer .scrollindicatorline {
  width: 2px;
  height: 5vh;
  background-color: #fff;
  transform-origin: center center;
  position: relative;
  left: 49%;
}
.homesectioncontainer .mask {
  height: 100%;
  width: 35%;
  left: 3%;
  z-index: -1;
  background-color: #000;
  opacity: 0.4;
  position: fixed;
}
.homesectioncontainer .mask1 {
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 1;
  width: 100%;
  position: fixed;
}
.homesectioncontainer .daypicker {
  visibility: hidden;
  position: absolute;
}
.homesectioncontainer .daypicker1 {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.loginformcontainer {
  background: #888888;
  height: 95%;
  width: 420px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}
.loginformcontainer .logo {
  height: 80px;
  width: 80px;
}
.loginformcontainer .title {
  font-family: "Courgette", cursive;
  font-size: 3rem;
  text-align: center;
}
.loginformcontainer .button {
  width: 68%;
  margin-top: 1rem;
}
.loginformcontainer .block {
  background: #ffffff;
  width: 100%;
  height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.loginformcontainer .button, .loginformcontainer .block {
  border-radius: 15px;
  font-size: 1rem;
}
.loginformcontainer .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 69%;
}
.loginformcontainer .content {
  width: 62%;
}
.loginformcontainer .checkbox {
  height: 1rem;
  width: 1rem;
}
.loginformcontainer .chcontent {
  font-size: 1rem;
  font-weight: 650;
}
.loginformcontainer .line {
  margin-top: 1rem;
  width: 70%;
  border: 1px solid #333333;
}
.loginformcontainer .button2 {
  width: 5%;
  height: 5%;
  border: none;
  background-color: #d9d9d9;
}
.loginformcontainer .link .content {
  color: #4CB6C5;
  width: 100%;
}/*# sourceMappingURL=home.module.css.map */