@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.introcontainer {
  position: absolute;
  display: flex;
  margin-right: 3%;
  margin-top: 1%;
  right: 0%;
  top: 10%;
  width: 500px;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
@media (min-width: 480px) {
  .introcontainer {
    visibility: hidden;
  }
}
@media (min-width: 720px) {
  .introcontainer {
    visibility: hidden;
  }
}
@media (min-width: 960px) {
  .introcontainer {
    visibility: visible;
  }
}
.introcontainer .title {
  color: #fff;
  margin-top: 1rem;
}
.introcontainer .line1 {
  width: 40%;
  position: relative;
}
.introcontainer .content {
  color: #fff;
  margin-top: 10px;
  font-size: 1.2rem;
}
.introcontainer .hidden {
  color: transparent;
  transition: 0.5s;
}

.loginbtcontainer {
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: 300px;
  display: flex;
  color: white;
  align-items: center;
  font-family: Microsoft JhengHei;
  font-weight: bold;
}
.loginbtcontainer p {
  font-size: 1rem;
  color: white;
}
.loginbtcontainer .button {
  color: white;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}
.loginbtcontainer .button:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.searchcontainer {
  height: 60px;
  position: relative;
  background-color: aliceblue;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  left: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 480px) {
  .searchcontainer {
    width: 530px;
  }
}
@media (min-width: 720px) {
  .searchcontainer {
    width: 620px;
  }
}
@media (min-width: 960px) {
  .searchcontainer {
    width: 850px;
  }
}
@media (min-width: 1200px) {
  .searchcontainer {
    width: 850px;
  }
}
.searchcontainer p {
  transform: translateY(-5%);
}
.searchcontainer .button {
  height: 50px;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  outline: none;
  text-align: center;
  font-weight: bold;
  transform: translateY(-5%);
}
.searchcontainer .selectform {
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  transform: translateY(-5%);
}
.searchcontainer .option {
  font-weight: bold;
  background: transparent;
}
.searchcontainer .time {
  border: 0;
  background-color: aliceblue;
  font-size: 1rem;
  font-weight: bold;
  transform: translateY(-5%);
  cursor: pointer;
}

.homesectioncontainer {
  /*background: var(--img) center center/cover no-repeat;*/
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  -o-object-fit: contain;
     object-fit: contain;
}
.homesectioncontainer .webname {
  color: #fff;
  left: 5%;
  margin-bottom: 3%;
  font-family: "Courgette", cursive;
  position: relative;
}
@media (min-width: 480px) {
  .homesectioncontainer .webname {
    font-size: 5rem;
    width: 380px;
  }
}
@media (min-width: 720px) {
  .homesectioncontainer .webname {
    font-size: 6rem;
    width: 500px;
  }
}
.homesectioncontainer .background {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.7);
  position: fixed;
  z-index: -2;
}
.homesectioncontainer .scrollbutton {
  display: inline-block;
  padding: 0;
  right: 5%;
  color: #000;
  text-decoration: none;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}
@media (min-width: 480px) {
  .homesectioncontainer .scrollbutton {
    visibility: hidden;
  }
}
@media (min-width: 720px) {
  .homesectioncontainer .scrollbutton {
    visibility: hidden;
  }
}
@media (min-width: 960px) {
  .homesectioncontainer .scrollbutton {
    visibility: visible;
  }
}
.homesectioncontainer .scrollindicator {
  position: absolute;
  bottom: 0;
}
.homesectioncontainer .scrollindicatorlabel {
  display: block;
  margin-bottom: 2rem;
  font-size: 1rem;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
}
.homesectioncontainer .scrollindicatorline {
  width: 2px;
  height: 5vh;
  background-color: #fff;
  transform-origin: center center;
  position: relative;
  left: 49%;
}
.homesectioncontainer .mask {
  height: 100%;
  width: 35%;
  left: 3%;
  z-index: -1;
  background-color: #000;
  opacity: 0.4;
  position: fixed;
}
.homesectioncontainer .mask1 {
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 1;
  width: 100%;
  position: fixed;
}
.homesectioncontainer .daypicker {
  visibility: hidden;
  position: absolute;
}
.homesectioncontainer .daypicker1 {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.loginformcontainer {
  background: #cccccc;
  height: 720px;
  width: 420px;
  position: relative;
  margin: auto;
  margin-top: 3rem;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}
.loginformcontainer .logo {
  height: 80px;
  width: 80px;
}
.loginformcontainer .title {
  font-family: "Courgette", cursive;
  font-size: 3rem;
  text-align: center;
  margin-top: -1rem;
}
.loginformcontainer .button {
  width: 68%;
  margin-top: 1rem;
}
.loginformcontainer .block {
  background: #ffffff;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1.5rem;
  padding-left: 0.75rem;
}
.loginformcontainer .button, .loginformcontainer .block {
  border-radius: 15px;
  font-size: 1rem;
}
.loginformcontainer .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 69%;
}
.loginformcontainer .content {
  width: 68%;
}
.loginformcontainer .checkbox {
  height: 1rem;
  width: 1rem;
}
.loginformcontainer .chcontent {
  font-size: 1rem;
  font-weight: 650;
}
.loginformcontainer .line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 70%;
  border: 1px solid #333333;
}
.loginformcontainer .button2 {
  width: 50px;
  height: 50px;
  border: none;
  background-color: none;
  margin-left: 50%;
}
.loginformcontainer .link .content {
  color: #4CB6C5;
  width: 286px;
  margin-top: 0.75rem;
  text-align: left;
}

.userIndexOptionContainer {
  width: 85%;
  height: 75%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.userIndexOptionContainer .button {
  background-color: #D9D9D9;
  border-radius: 20px;
  border: transparent;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: inset 0 0 0 0 transparent;
}
.userIndexOptionContainer .button:hover {
  box-shadow: inset 0 0 6px 2px gray;
}
.userIndexOptionContainer .button:active {
  box-shadow: inset 0 0 6px 4px gray;
}
@media (min-width: 0) {
  .userIndexOptionContainer .button {
    width: 80%;
    height: 20%;
  }
}
@media (min-width: 960px) {
  .userIndexOptionContainer .button {
    width: 40%;
    height: 40%;
  }
}
.userIndexOptionContainer p {
  font-weight: bold;
}
@media (min-width: 480px) {
  .userIndexOptionContainer p {
    font-size: 1rem;
  }
}
@media (min-width: 720px) {
  .userIndexOptionContainer p {
    font-size: 1.5rem;
  }
}
@media (min-width: 960px) {
  .userIndexOptionContainer p {
    font-size: 2rem;
  }
}

.userIndexSettingContainer {
  width: 20rem;
  height: 100vh;
  margin-left: 2rem;
  padding: 3.5%;
  padding-top: 5rem;
  padding-bottom: 2%;
  background-color: #858585;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.userIndexSettingContainer h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}
.userIndexSettingContainer .circle {
  position: relative;
  border-radius: 10rem;
  background-color: #fff;
}
@media (min-width: 0) {
  .userIndexSettingContainer .circle {
    height: 4rem;
    width: 4rem;
  }
}
@media (min-width: 480px) {
  .userIndexSettingContainer .circle {
    height: 6rem;
    width: 6rem;
  }
}
@media (min-width: 960px) {
  .userIndexSettingContainer .circle {
    height: 8rem;
    width: 8rem;
  }
}
.userIndexSettingContainer .textcontainer {
  align-self: flex-start;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 8%;
  padding-bottom: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.userIndexSettingContainer .textcontainer * {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.userIndexSettingContainer .btn {
  height: 2.5rem;
  width: 200px;
  align-self: flex-start;
  font-size: 1.2rem;
  border: transparent;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
}
.userIndexSettingContainer h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}
.userIndexSettingContainer h2:hover {
  color: black;
  cursor: pointer;
}
.userIndexSettingContainer .contact {
  align-self: flex-end;
}

.userIndexSectionContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.userIndexSectionContainer .columnContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2.25rem;
}
@media (min-width: 0) {
  .userIndexSectionContainer .columnContainer {
    align-items: center;
  }
}
@media (min-width: 960px) {
  .userIndexSectionContainer .columnContainer {
    align-items: flex-end;
  }
  .userIndexSectionContainer .columnContainer a {
    margin-right: 8%;
  }
}
.userIndexSectionContainer .columnContainer img {
  height: 100px;
  width: 100px;
}

.hotelInfoRoomContainer {
  display: flex;
  flex-direction: row;
}
@media (min-width: 480px) {
  .hotelInfoRoomContainer {
    background-color: pink;
  }
}
@media (min-width: 720px) {
  .hotelInfoRoomContainer {
    background-color: blue;
  }
}
@media (min-width: 960px) {
  .hotelInfoRoomContainer {
    background-color: red;
  }
}
.hotelInfoRoomContainer .searchcontainer {
  position: relative;
  left: 10%;
  margin-top: 2.5%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 1000px;
}
.hotelInfoRoomContainer .container {
  display: flex;
  flex-direction: row;
}
.hotelInfoRoomContainer .name {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 2rem;
  font-weight: bolder;
  position: relative;
}
.hotelInfoRoomContainer .people {
  font-size: 1rem;
  position: relative;
  margin-top: 5.5%;
  margin-left: 3%;
  font-weight: bold;
  font-size: 100%;
}
.hotelInfoRoomContainer .bed {
  margin-top: 1%;
  margin-left: 3%;
  font-weight: bold;
  font-size: 100%;
}
.hotelInfoRoomContainer .intro {
  margin-top: 5%;
  margin-left: 3%;
  font-size: 100%;
}
.hotelInfoRoomContainer .money {
  font-size: 150%;
  font-weight: bold;
  color: red;
  margin-top: 6%;
  margin-left: 35%;
}
.hotelInfoRoomContainer .button {
  font-size: 100%;
  width: 10%;
  height: 125%;
  margin-top: 1%;
  margin-left: 3%;
}
.hotelInfoRoomContainer .discount {
  font-weight: bold;
  font-size: 100%;
  margin-top: 1%;
  margin-left: 25.5%;
}
.hotelInfoRoomContainer .button_container {
  position: relative;
  background: white;
  border-radius: 10px;
  height: 250px;
  width: 100px;
  margin-left: 12.5%;
  margin-top: 2.5%;
}
.hotelInfoRoomContainer .heading {
  margin-left: 5%;
  margin-top: 3%;
}
.hotelInfoRoomContainer .right_container {
  position: relative;
  background: white;
  border-radius: 10px;
  height: 805px;
  width: 100px;
  left: 30px;
  margin-top: 27.5px;
}/*# sourceMappingURL=home.module.css.map */