// variables & functions
// @import 'functions';
@import 'variables';

// base & layout
@import 'breakpoints';
// @import 'grid';
@import 'layout';
@import 'component-style';

// components (button, card, navbar etc)
@import '../components/multi-header';

@import '../components/home-intro';
@import '../components/home-login-bt';
@import '../components/home-searchform';
@import '../components/home-section';
@import '../components/login-loginform';
@import '../components/userIndex-option';
@import '../components/userIndex-setting';
@import '../components/userIndex-section';

@import '../components/hotelInfo-room';
@import '../components/hotelInfo-intro';
@import '../components/hotelInfo-attraction';
@import '../components/hotelInfo-evaluate';
@import '../components/hotelInfo-information';
@import '../components/hotelInfo-transportation';
@import '../components/hotelInfo-book';
@import '../components/hotelinfo-title';
@import '../components/hotelinfo-section';


@import '../components/search-filter';
@import '../components/search-order';
@import '../components/search-result';
@import '../components/search-searchform';
@import '../components/search-section';

@import '../components/userMulti-menu';
@import '../components/userPersonalInfo-section';
@import '../components/_userHotel-multi';
@import '../components/userHotel-info';
@import '../components/userHotelFeature-section';
@import '../components/userHotelRoom-section';
@import '../components/userHotel-notice';
@import '../components/userSellIndex-setting';
@import '../components/userSellIndex-table';
@import '../components/userSellOrder-setting';

@import '../components/adminJournal-section';
@import '../components/admin-id';
@import '../components/admin-journalBlock';
@import '../components/admin-search';
@import '../components/admin-searchResult';
// utilities (margin, padding, opacity, etc)
// @import 'utilities';
