// variables & functions
// @import 'functions';
@import 'variables';

// base & layout
@import 'breakpoints';
// @import 'grid';


// components (button, card, navbar etc)
@import '../components/home-intro';
@import '../components/home-login-bt';
@import '../components/home-searchform';
@import '../components/home-section';
@import '../components/login-loginform';
@import '../components/userIndex-option';
@import '../components/userIndex-setting';
@import '../components/userIndex-section';
@import '../components/hotelInfo-room';

// utilities (margin, padding, opacity, etc)
// @import 'utilities';