// variables & functions
// @import 'functions';
@import 'variables';

// base & layout
@import 'breakpoints';
@import 'grid';

// // colors
// @import "colors";

// components (button, card, navbar etc)
@import '../components/home-info';
@import '../components/home-login-bt';
@import '../components/home-searchform';
@import '../components/home-section';

// utilities (margin, padding, opacity, etc)
@import 'utilities';