.searchContainer{
    height: 100%;
    width: 40%;
    padding-right: $base-padding * 4;
    padding-top: $base-padding * 4;
    padding-bottom: $base-padding * 4;

    display: flex;
    flex-direction: column;

    .textBlock{
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
    }

    .formBlock{
        height: 60%;

        padding-top: $base-padding * 4;
        .idDetail{
            height: calc(100% /4);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .detailP{
                height: 50%;
                width: 30%;
                font-size: 1.25rem;
            }

            .or{
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 1.5%;
            }

            .detailForm{
                background-color: white;
                border-radius: 10px;
                height: 50%;
                width: 50%;
                font-size: 1.25rem;
                margin-left: 2%;
                margin-bottom: 1.75%;
                padding-left: $base-padding;
            }
        }
    }

    .buttonBlock{
        height: 30%;

        display: flex;
        align-items: center;
        justify-content: center;
        .button{
            font-size: 1.5rem;
            font-weight: bold;
            height: 50%;
            width: 50%;
            border-radius: 20px;
        }
    }
}