.idContainer{
    height: 100%;
    width: 27.5%;
    padding-left: $base-padding * 4;
    padding-top: $base-padding * 4;
    padding-bottom: $base-padding * 8;

    .idBlock{
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: 30px;
        padding: $base-padding ;

        .idTitle{
            height: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: bold;
        }

        .idImageContainer{
            height: 45%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .imageFrame{
                height: 160px;
                width: 160px;
                border-radius: 999em;
                background-color: #d3d3d3;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .idDetailContainer{
            height: 45%;
            width: 100%;

            .idDetail{
                height: calc(100% /3);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .detailP{
                    height: 50%;
                    width: 30%;
                    font-size: 1.25rem;
                }

                .detailForm{
                    background-color: #d3d3d3;
                    border-radius: 10px;
                    height: 50%;
                    width: 50%;
                    font-size: 1.25rem;
                    margin-left: 2%;
                    margin-bottom: 2.5%;
                    padding-left: $base-padding;
                }
            }
        }
    }
}