.adminJournalSection_SettingContainer{
    // //test
    @include sm {
        background-color: red;
    }
    @include md {
        background-color: green;
    }
    @include lg {
        background-color: yellow;
    }
    @include xl{
        background-color: #d3d3d3;
    }
        
    position: absolute;
    top: 15%;
    width: 100%;
    height: 85%;
    display: flex;

    .imageFrame{
        width: 30%;
        height: 100%;
        position: relative;
    }
    
}