.adminJournalSection_SettingContainer{
    // //test
    @include sm {
        background-color: red;
    }
    @include md {
        background-color: green;
    }
    @include lg {
        background-color: yellow;
    }
    @include xl{
        background-color: #d3d3d3;
    }
    
    @include bottom-block;

    .imageFrame{
        width: 27.5%;
        height: 100%;
        position: relative;
    }
    
}