.container{ 
    position:absolute;
    left: 5%;
    bottom: 5%;
    width: 300px;
    display: flex;
    color: white;
    align-items: center;
    font-family: $heading-font;
    font-weight: bold;
    p {
        font-size: $base-font-size;
    }
}

.button{
    color: white;
    font-family: $heading-font;
    font-weight: bold;
    font-size: $base-font-size;
    background-color: transparent;
    cursor: pointer;

    .container {
        &:hover {
            transform: scale(1.1);
            transition:all 1s ;
        }
    }
}
