.introcontainer{
    position: absolute;
    display:flex;
    margin-right: 3%;
    margin-top:1%;
    right: 0%;
    top:10%;
    width: 500px;

    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    .title{
        color: #fff;
        margin-top: 1rem;
        margin-right: 2rem;
    }
    .line1{
        width:40%;
        position: relative;
    }
    .content{
        color:#fff;
        margin-top: 10px;
        font-size: $base-font-size * 1.2;
    }
    .hidden{
        color: transparent;
        transition: 0.5s;
    }

    
}
