.loginbtcontainer{ 
    position:absolute;
    left: 5%;
    bottom: 5%;
    width: 300px;
    display: flex;
    color: white;
    align-items: center;
    font-family: $heading-font;
    font-weight: bold;

    p {
        font-size: $base-font-size;
        color: white;
    }

    .button {
        color: white;
        font-family: $heading-font;
        font-weight: bold;
        font-size: $font-size-lg;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition:all 1s ;
        }
    }
}

