
.hotelInfoRoomContainer{
    display: flex;
    flex-direction: row; 
    width: 100%;

    * {
        font-size: $base-font-size;
    }
    .searchcontainer, .button_container{
        @include sm {
            margin: 1%;
            .discount {
                visibility: hidden;
            }
        }
        @include md {
            margin: $base-margin;
            .discount {
                visibility: visible;
            }
        }
    }
    .searchcontainer{
        @include white-board-style;
        // height: 200px;
        width: 88%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $base-padding * 1.5;

        .container{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            * {
                margin-right: $base-margin;
            }

            .bed, .people, .money, .discount{
                font-weight: bold;
            }
            
            .money, .discount {
                margin-left: auto;
                margin-right: 0;
            }

            .name{
                font-size: $font-size-lg;
            }
            
            .people{
                align-self: flex-end;
            }
            
            .money{
                color: red;
                align-self: flex-end;
            }
            
            .button{
                @include label;
                margin-bottom: 0;
                margin-left: 0;
            }

            .intro, .bed {
                max-width: 60%;
                margin-top: $base-margin;
            }
            
        }
    }
    .button_container{
        @include white-board-style;
        // height: 200px;
        width: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: $font-size-lg;
        font-weight: bold;

        .btn{
            @include button;
            height: 50px;
            min-width: 25px;  
            margin: 0;
            border-radius: 0.5rem;
        }
        .content{
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    
}

