
.hotelInfoRoomContainer{
    @include sm{
        background-color: pink;
    }

    @include md{
        background-color: blue;
    }

    @include lg{
        background-color: red;
    }
    
    display: flex;
    flex-direction: row;

    .searchcontainer{
        position: relative;
        left: 10%;
        margin-top: 2.5%;
        background:white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: 275px;
        width: 1000px;
    }
    
    .container{
        display: flex;
        flex-direction: row;
    }
    
    .name{
        margin-top: 3%;
        margin-left: 3%;
        font-size: 2rem;
        font-weight: bolder;
        position: relative;
    }
    
    .people{
        font-size: 1rem;
        position: relative;
        margin-top: 5.5%;
        margin-left: 3%;
        font-weight: bold;
        font-size: 100%;
    }
    
    .bed{
        margin-top: 1%;
        margin-left: 3%;
        font-weight: bold;
        font-size: 100%;
    }
    
    .intro{
        margin-top: 5%;
        margin-left: 3%;
        font-size: 100%;
    }
    
    .money{
        font-size: 150%;
        font-weight: bold;
        color: red;
        margin-top: 6%;
        margin-left: 30%;
    }
    
    .button{
        font-size: 100%;
        width: 100px;
        height: 40px;
        margin-top: 1.5%;
        margin-left: 3%;
    }
    
    .discount{
        font-weight: bold;
        font-size: 100%;
        margin-top: 1%;
        margin-left: 20%;
    }
    
    .button_container{
        position: relative;
        background:white;
        border-radius: 10px;
        height:275px;
        width: 100px;
        margin-left: 12.5%;
        margin-top: 2.5%;
    }

    .right_container{//右邊那個立即訂房
        position: relative;
        background:white;
        border-radius: 10px;
        height:805px;
        width: 100px;
        left: 30px;
        margin-top: 27.5px;
    }
    
    
}

