.hotelInfoInformation{
  width: 100%;
  

    .title {
        font-size: $font-size-xl;
        font-weight: bolder;
    }

    .searchcontainer {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        margin-top: $base-margin * 2;
        padding: $base-padding * 2;
        background: white;
        border-radius: $base-border-radius;
        height: 300px;
        width: 60%;
    }

    .searchcontainerALL {
        width: 100%;
        display: flex;
        flex-direction: row;

        .searchcontainerTitle {
            width: 40%;
            height: 100%;
        }

        .searchcontainerName {
            width: 60%;
            height: 100%;
        }

        .name {
            font-size: $base-font-size;
            position: relative;
            font-weight: bold;
        }
    }


}