.hotelInfoAttraction{

    .attraction{
        display: grid;
        @include sm {
          grid-template-columns: 1fr 1fr;
        }
        @include lg {
          grid-template-columns: 2fr 2fr 2fr 1.5fr;
        }

        width: 100%;
        height: 50%;

        .attractionDetail {
          margin-top: $base-margin;
          margin-bottom: $base-margin;
          margin-right: $base-margin;
          padding: $base-padding;


          .title {
            font-size: $font-size-xl;
            font-weight: bolder;
          }
    
          .name {
            width: 100%;
            font-size: $base-font-size;
            margin-top: $base-margin;
            margin-bottom: $base-margin;
            margin-right: $base-margin;
          }
          .subtitle {
            font-size: $font-size-md;
            font-weight: bold;
            margin-bottom: $base-margin;
          }
          .containerB {
            display: grid;
            // grid-template-rows: repeat(3, 50px);
            grid-template-columns: 50% 50%;
          }
    
          .containerS {
            display: grid;
            // grid-template-rows: repeat(3, 50px);
            grid-template-columns: 100%;
          }
        }
        
  
    }

      
  }