
.hotelInfoBookContainer{
    .right_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include sm{
        padding: 0.5rem;
        .right_container{
            @include white-board-style;
            height: 60px;
            width: 100%;
        }
    }
    @include md {
        padding: $base-margin;
    }
    @include lg{
        .right_container{
            // position: relative;
            @include white-board-style;
            height: 100%;
            width: 100%;
        }
    }

    .button{
        @include button;
        margin: auto;
    }
}
