.hotelInfoEvaluate{
    width: 100%;
    * {
      font-size: $base-font-size;
    }
    .evaluate_gradenumber {
      font-size: 1rem;
      font-weight: bold;
      font-size: $font-size-title;
    }
    
    .title {
      font-size: $font-size-xl;
    }
    .inline{
      width: 100%;
      margin-top: 1%;
    }

    .container {
      display: grid;
      grid-template-rows: 220px;
      grid-auto-columns: minmax(100px, auto);
      grid-column-gap: 2%;
      margin-top: 2%;
    }

    .evaluatecontainer {
      grid-row: 1/-1;
      display: inline-block;  
      padding: $base-padding;
      @include white-board-style;
      height: 200px;
      width: 280px;
      left: 0px;
      * {
        margin-left: $base-margin * 0.8;
        margin-right: $base-margin * 0.8;
      }
      .name {
        word-wrap: break-word;
      }
      .evaluatecontainergray {
        @include label;
        width:fit-content;
      }
      .circle{
        width:50px; 
        height:50px; 
        border-radius:50%;
        background-color: aquamarine;
        margin-left: 0;
      }

      .imgname{
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
      }

    }
    .addcomment {
      * {
        font-size: $font-size-xxl;
      }
      grid-row: 1/-1;
      background: none;
      width: 35%;
      height: 100%;
    }

  }