.infoTitleContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5%;
  flex-direction: column;
  align-items: start;
  padding: 1.5%;

  .title{
    font-size: 3rem;
  }
  .titleRightTopContainer{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;

    * {
      margin: $base-margin/4;
    }
    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      .collection{
        height: 25px;
        width: 75px;
        font-size: $base-font-size;
        background-color: white;
        border-radius: 5px;
        margin-top: auto;
        margin-bottom: auto;
        @include sm {
          align-self: flex-start;
        }
        @include md {
          align-self: flex-end;
        }
      }
    }
  }

  .titleRightBottomContainer{
    margin: auto;
    background: #cdcdcd;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .leftBoard{
      width: 25%;
      height: 100%;
      padding: $base-padding/2;
      display: grid;

      @include sm {
        display: grid;
        width: 100%;
        padding-right: $base-padding;
        * {
          margin-right: $base-padding/2;
        }
      }
      @include md {
        display: none;
      }
      @include lg {
        display: grid;
        width: 25%;
        margin-right: 0;
        padding-right: 0;
      }
      .pictureType1{
        background-color: white;
        margin: $base-padding/2;
        margin-right: 0;
      }
    }

    .rightBoard{
      height: 100%;
      padding: $base-padding/2;  
      * {
        margin: $base-padding/2;
      }
      @include sm {
        display: none;
      }
      @include md {
        display: grid;
        width: 100%;
      }
      @include lg {
        width: 75%;
      }
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;

      .rightTopBoard{
        background-color: white;
        grid-column: 1/-1; 
      }
      .rightBottomBoard{
        background-color: white;  
      }
    }
  }
}
