.infoTitleContainer {
  margin-top: 3%;
  display: flex;
  height: 97%;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2%;
  flex-direction: row;
  align-items: start;
  padding: 1.5%;

  .title{
    font-size: $font-size-xxl;
  }
  p {
    font-size: $base-font-size;
  }
  .titleTopContainer{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    * {
      margin: 0.25rem;
    }
    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  .titleBottomContainer{
    background: #cdcdcd;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    padding-top:2%;
    padding-left:2% ;
    padding-bottom: 2% ;
    .img{
      background-color : white;
      height: 100%;
      width: 90%;
    }
    .icon{
      height:100%;
      width:10%;
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        font-size: 1.5rem;
        &:hover{
          font-size: 2rem;
        }
      }
    }
  }
}
