.hotelinfoSectionContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    @include sm {
        background-color: burlywood;
        width: 100%;
    }
    @include md {
        background-color: beige;
        width: 85%;
    }
    @include lg {
        background-color: aquamarine;
        width: 80%;
    }
    @include xl {
        background-color: aqua;
        width: 70%;
    }
    .hotelInfoEvaluate, .hotelInfoInformation,
    .hotelInfoAttraction, .hotelInfoTransportation {
        margin: $base-margin;
    }
    .roominfo, .hotelInfoEvaluate, .hotelInfoInformation, 
    .hotelInfoAttraction, .hotelInfoTransportation
    {
        margin-top: 3%;
        margin-bottom: 5%;
    }
}

.roominfo {

    display: grid;

    @include sm {
        
        grid-template-columns: 1fr;
        .right, .left{
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
    @include lg {

        grid-template-columns: 7fr 1fr;
        .right {
            grid-column-start: 2;
            grid-column-end:3;
        }
        .left {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
    
}