.hotelInfoTransportation{

    width: 100%;
    
    .title {
        font-size: $font-size-xl;
        font-weight: bolder;
        position: relative;
      }
    .name {
        @include white-board;
        margin: auto;
        margin-top: $base-margin * 2;
        width: 94%;
        // font-size: $base-font-size;
        // position: relative;
        // background-color: white;
        // padding: $base-padding * 2;
        // font-weight: bold;
        // border-radius: $base-border-radius;

    }

  }