
.hotelInfoBookContainer{
    @include sm{
        padding: $base-margin * 0.5;
        .right_container{//右邊那個立即訂房
            background:white;
            border-radius: $base-border-radius;
            height: 60px;
            width: 100%;
        }
    }
    @include md {
        padding: $base-margin;
    }
    @include lg{
        .right_container{//右邊那個立即訂房
            // position: relative;
            background:white;
            border-radius: $base-border-radius;
            height: 100%;
            width: 100%;
        }
    }

    // @include sm{
    //     background-color: pink;
    //     .right_container{//右邊那個立即訂房
    //         position: relative;
    //         background:white;
    //         border-radius: 10px;
    //         height:750px;
    //         width: 80px;
    //         left: 15px;
    //         margin-top: 12px;
    //     }
    // }

    

    

    
    
}
