.loginFormContainer {

    position: relative;
    top: 7%;
    background: #cccccc;
    
    height: 720px;
    width: 420px;
    margin: auto;
    border-radius: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-top: 2.5rem;
    padding-bottom: 5rem;

    .logo {
        height: 80px;
        width: 80px;
    } 

    .title {
        font-family: $title-font;
        font-size: $font-size-xxl;
        text-align: center;
        margin-top: -$base-font-size;
    }

    .button {
        width: 68%;
        margin-top: $base-margin;
    }
    .block {
        background: #ffffff;
        width: 100%;
        height: 2.5rem;
        // margin-top: $base-margin;
        margin-bottom: $base-margin * 1.5;
        padding-left: $base-padding;
    }
    .button, .block {
        border-radius: $base-border-radius * 0.75;
        font-size: $base-font-size;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 69%;
    }

    .content {
        width: 68%;
        // margin-top: $base-margin;
    }

    .checkbox {
        height: 1rem;
        width: 1rem;
    }
    .chcontent {
        font-size: $base-font-size;
        font-weight: 650;
    }

    .line {
        margin-top: $base-margin * 1.5;
        margin-bottom: $base-margin * 1.5;
        width: 70%;
        border: 1px solid #333333;
    }

    .button2 {
        width: 50px;
        height: 50px;
        border: none;
        background-color: none;
        margin-left: 50%;

    }

    .link .content {
        color: #4CB6C5;
        width: 286px;
        margin-top: $base-margin * 0.75;
        text-align: left;

    }

    
}





