.loginFormContainer {

    position: relative;
    
    background: #cccccc;
    top:4%;
    height: 93%;
    width: 420px;
    margin: auto;
    border-radius: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-top: 2.5rem;
    padding-bottom: 5rem;

    .logo {
        height: 80px;
        width: 80px;
    } 

    .title {
        font-family: $title-font;
        font-size: $font-size-xxl;
        text-align: center;
        margin-top: $base-margin;
        margin-bottom: $base-margin;
    }

    .button {

        // margin-top: $base-margin * 0.75;
        margin-bottom: $base-margin * 0.75;
        width: 68%;
    }
    .userinput {
        display: flex;
        align-items: center;
        p{
            display: inline;
            width: 20%;
            // font-weight: bold;
            font-size: $font-size-md;
        }
        margin-bottom: 0.5rem;
    }
    .block {
        background: #ffffff;
        width: 90%;
        height: 2.5rem;
        // margin-top: $base-margin * 0.75;
        // margin-bottom: $base-margin * 0.75;
        padding-left: $base-padding;
    }
    .button, .block {
        margin-top: $base-margin * 0.75;
        margin-bottom: $base-margin * 0.75;
        border-radius: $base-border-radius * 0.75;
        font-size: $base-font-size;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 69%;
    }

    .content {
        width: 68%;
        // margin-top: $base-margin;
    }

    .checkbox {
        height: 1rem;
        width: 1rem;
    }
    .chcontent {
        font-size: $base-font-size;
        font-weight: 650;
    }

    .line {
        margin-top: $base-margin * 0.3;
        margin-bottom: $base-margin * 0.3;
        width: 70%;
        border: 1px solid #333333;
    }


    .link .content {
        color: #4CB6C5;
        width: 286px;
        margin-top: $base-margin * 0.75;
        margin-bottom: $base-margin * 0.75;
        text-align: left;

    }
    .submit {
        font-size: $font-size-xxl;
        margin-top: $base-margin;
        margin-right: 15%;
        align-self: flex-end;
        background-color: transparent;
    }
    
}





