
.searchResultContainer{
    position: relative;
    background:white;
    border-radius: 10px;
    color:black;
    display: flex;
    margin: 1%;
    height:100%;
    width: 100%;
      

    .img{
        width: 30%;
        margin: 25px;
        border-radius: 20px;
        object-fit: cover;
    }

    .name{
        width: 100%;
        margin-top: 1%;
        font-size: 2rem;
        font-weight: bold;
        position: relative;
    }

    .container{
        display: flex;
        width:100%;
        margin-top: 30%;
    }

    .room,
    .location{
        font-size: 1rem;
        position: relative;
        margin-top: 1%;
    }

    .money,
    .time{
        font-size: 1.2rem;
        margin-right: 5%;
    }
    .content{
        padding:2%;
    }

    .situation{
        font-size: 36px;
        font-weight: bold;
        margin-left: 2%;
        position: relative;
        bottom: 10px;
    }
    
}
