.searchOrderContainer {

    background: #c7c2c2;
    position: relative;
    width: 15rem;
    height: 50%;

    font-size: 18px;
    font-weight: 600;
    padding-left: 0.6rem;

    border: None;
    border-radius: 0.5rem;

    .option {
        font-weight: 600;
        background: #FFFFFF;
    }

}

