.searchSearchformContainer {
    @include left-block(15%);
    @include set-leftblock-responsive(30%, 23%, 18%);

    * {
        @include input-box;
        margin-top: $base-margin * 0.75;
        margin-bottom: $base-margin * 0.75;
    }
    .btn {
        cursor: pointer;

        &:active {
            background-color: $background-color;
            * {
                background-color:$background-color;
            }
            box-shadow: 0 2px #666;
            transform: translateY(2px);
        }
    }
    .item, .btn, .btnfilter {
        width: 80%;
    }
    .btnfilter{
        cursor: pointer;
        margin-top: 20%;
        background-color: $background-color;
        
    }
    
}
