.searchTopContainer{
    background-color: dimgrey;
    display:flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    height: 15%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: $base-padding;
    

    .text{
        position: relative;
        color: white;
        font-weight: bold;

        @include sm {
            font-size: $font-size-xxl;
        }
        @include lg {
            font-size: $base-font-size * 3.5;
        }
    }
}

.searchBottomContainer{
    display: flex;
    height: 100%;
    justify-content: space-between;
    
    .bottomleftcontainer{
        height:100%;
        position: fixed;
        background-color: gray;
        top: 15%;
        display: flex;
        flex-direction:column;
        align-items: center;
        @include sm {
            width: 25%;
        }
        @include md{
            width: 23%;
        }
        @include lg {
            width: 23%;
        }
        @include xl {
            width: 18%;
        }

        .searchSearchformContainer, .btnfilter  {
            @include sm {
                width: 80%;
            }
            @include lg {
                width: 70%;
            }
            @include xl {
                width: 65%;
            }
        }
        .btnfilter{
            border-radius: 5px;
            cursor: pointer;
            
            height: 2.4rem;
            padding: 10px;
            margin: $base-margin * 0.75;
            margin-top: 20%;
            font-weight:bolder;
            font-size: $base-font-size; 
            
        }
    }
    .hoteldata {
        position: absolute;
        height:100%;
        width:80%;
        top: 20%;
        z-index: -1;
        right: 0%;
        
    }
}

.searchMask{
    height:100%;
    width:100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}
.searchMaskHidden{
    visibility: hidden;
    z-index: -2;
}