.userSellOrder_SettingContainer{
    position: absolute;
    top: 15%;
    right: 0%;
    width: 100%;
    height: 85%;
    display: flex;

    .container{
        width:70%;
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;

        .switch{
            width: 20%;
            height: 7.5%;
            display: flex;
            position: relative;
            left: 10%;
            top:5%;
            background-color: $decorate-color;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
        }
    
        .innerbutton{
            font-weight: bold;
            font-size: 1rem;
            color: white;
            height: 50%;
            width: 50%;
            border-radius: 15px;
            margin-right: 0.5%;
            background-color: transparent;
        }
    
        .buttontext{
            background-color: white;
            font-weight: bold;
            font-size: 1rem;
            padding: 3%;
            border-radius: 50px;
            margin-left: 3%;
        }
    
        .logo{
            position: relative;
            left:70%;
        }
    
        .filterblock{
            width: 100%;
            height: 10%;
            display: flex;
            position: relative;
            left: 10%;
            top:7.5%;
            font-size: 1rem;
            justify-content: center;
            align-items: center;

            .filterp{
                height: 50%;
                width: 5%;
                font-size: 1.25rem;
                font-weight: bold;
                margin-top: 0.5%;
            }

            .filterp2{
                height: 50%;
                width: 5%;
                font-size: 1.25rem;
                font-weight: bold;
                margin-top: 0.5%;
                margin-left: 3%;
            }

            .filterp3{
                height: 50%;
                width: 7.5%;
                font-size: 1.25rem;
                font-weight: bold;
                margin-top: 0.5%;
                margin-left: 3%;
            }

            .selectform{
                height: 50%;
                width: 20%;
                font-size: 1.25rem;
                font-weight: bold;
                background-color: white;
                border-radius: 10px;
                padding-left: 10px; //åŠ padding
            }

            .option{
                font-weight: bold;
            }
        }
    
        .salesfiguresblock {
            position: relative;
            top:10%;
            left: 10%;
            background-color: white;
            padding: $base-padding * 3;
            width: 80%;
            height: 40%;
            border-radius: $base-border-radius;
            border: 1px solid $secondary-color;

            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .title{
                font-size: 2rem;
                font-weight: bold;
                width: 20%;
                margin-left: 10%;
            }
            
            .infoblock{
                display: flex;
                flex-direction: row;
            }

            .info1{
                font-size: 1.25rem;
                margin-top: 2%;
                width: 30%;
                margin-left: 10%;
            }
            .info2{
                font-size: 1.25rem;
                margin-top: 2%;
                margin-left: 17.5%;;
            }
            .info3{
                font-size: 1.25rem;
                margin-top: 2%;
                margin-left: 10%;
            }
            .button{
                font-size: 1.25rem;
                margin-top: 2%;
                margin-left: 2%;
            }
            
        }
    }
}
