.userMultiMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $decorate-color;
    color: white;
    height: 100%;
    font-family: $heading-font;
    font-size: $font-size-md;
    padding: $base-padding;
    padding-top: $base-padding * 2;

    @include sm {
        width: 30%;
    }
    @include lg {
        width: 18%;
    }
    @include xl {
        width: 15%;
    }
    .title {
        display: inline-flex;
        align-items: center;
        i {
            font-size: 35px;
        } 
        h1 {
            font-size: $font-size-lg;
            margin: $base-margin;
        }
    }
    .small {
        display: flex;
        flex-direction: column;
        width: 80%;
        p {
            display: none;
        }
        .button {
            font-size: $font-size-lg;
            margin: auto;
            margin-top: $base-margin ;
            margin-bottom: $base-margin ;
        }
        hr {
            border: 0.5px white solid;
            width: 60%;
            margin: $base-margin;
        }
    }
    .options {
        display: flex;
        flex-direction: column;

        .button {
            display: inline-flex;
            align-items: center;
            margin: $base-margin;
        }
        i {
            margin-right: $base-margin;
        }
        a {
            @include sm {
                width: 90px;
            }
            @include md {
                width: 115px;
            }
            &:hover {
                color: black;
            }
        }
        hr {
            border: 0.5px white solid;
            width: 80%;
            margin: $base-margin;
        }
    }
    
}