@mixin styled_botton {
    .add {
        @include button;
        margin-bottom: $base-margin;
        background-color: white;
        border: 2px solid #999;
        &:hover {
            background-color: #999;
            color: white;
        }
    }
    .added {
        @include button;
        margin-bottom: $base-margin;
        &:hover{
            background-color: #7d0e0e;
        }
    }
}

@mixin input($width) {
    border: 2px solid #999;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: $width;
    min-width: 100px;
    line-height: 1.5;
    margin-right: $base-padding;
    font-size: $base-font-size;
}

@mixin textarea {
    padding: $base-padding;
    resize: none;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    margin-bottom: 3%;
    overflow: hidden;
    font-size: $base-font-size;
}


@mixin template {
    @include right-block;
    padding: 2%;
    justify-content: flex-start;

    p, .contentname {
        font-size: 1.3rem;
        font-weight: bold;
        margin-right: 3%;
    }
    button {
        font-size: $base-font-size;
    }
    .content {
        margin-bottom: $base-margin * 2;
        width: 100%;
        display: flex;
        h1{
            @include sm {
                font-size: $font-size-xl;
            }
            @include md {
                font-size: $base-font-size * 2.5;
            }
            @include lg {
                font-size: $font-size-xxl;
            }
            margin: 0;
            margin-top: auto;
            margin-bottom: auto;
        } 
        .hotelbutton {
            margin-left: auto;
        }
    }
    .spacing {
        margin-bottom: $base-margin * 1.5;
    }
    .hotelbutton, .btn {
        @include button;
        margin-top: $base-margin;
        margin-bottom: $base-margin;
    }
}

