.userSellIndex_SettingContainer{
    position: absolute;
    top: 15%;
    width: 100%;
    height: 85%;
    display: flex;

    //test
    @include sm {
        background-color: red;
    }
    @include md {
        background-color: green;
    }
    @include lg {
        background-color: yellow;
    }
    @include xl {
        background-color: #d3d3d3;
    }

    .container{
        width:70%;
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;

        .switch{ 
            display: flex;
            position: relative;
            left: 10%;
            top:5%;
            background-color: $decorate-color;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            width: 23%;
            height: 8%;

            .innerbutton{
                font-weight: bold;
                color: white;
                border-radius: 15px;
                background-color: transparent;
                font-size: 1rem;
                height: 50%;
                width: 50%;
            }
        
            .buttontext{
                background-color: white;
                font-weight: bold;
                border-radius: 50px;
                font-size: 1rem;
                padding: 3%;
                margin-left: 7.5%;
            }
        }
    
        .logo{
            position: relative;
            left:70%;
        }
    
        .filterblock{
            width: 100%;
            height: 10%;
            display: flex;
            position: relative;
            top:7.5%;
            
            justify-content: center;
            align-items: center;
            @include md {
                left: 3%;
                font-size: 0.6rem;
            }
            @include lg {
                left: 6.5%;
                font-size: 0.8rem;
            }
            @include xl {
                left: 10%;
                font-size: 1rem;
            }

            .filterp{
                height: 50%;
                font-size: 1.25rem;
                font-weight: bold;
                margin-top: 0.5%;
                @include sm {
                    visibility: hidden;
                }
                @include md {          
                    width: 10%;
                    visibility: visible;
                }
                @include lg {          
                    width: 7.5%;
                    visibility: visible;
                }
                @include xl {          
                    width: 5%;
                    visibility: visible;
                }
            }

            .filterp2{
                height: 50%;
                font-size: 1.25rem;
                font-weight: bold;
                margin-top: 0.5%;
                margin-left: 5%;
                @include sm {
                    visibility: hidden;
                }
                @include md {
                    width: 10%;    
                    visibility: visible;
                }
                @include lg {          
                    width: 7.5%;
                    visibility: visible;
                }
                @include xl {          
                    width: 5%;
                    visibility: visible;
                }
                
            }

            .selectform{
                height: 50%;
                width: 20%;
                font-size: 1.25rem;
                font-weight: bold;
                background-color: white;
                border-radius: 10px;
            }

            .option{
                font-weight: bold;
                font-size: 1.25rem;
            }
        }
    
//下方響應式已完成
        .salesfiguresblock {
            display: flex;
            position: relative;
            top:10%;
            width: 100%;
            height: 67.5%;
            background-color: white;
            padding: $base-padding * 3;
            border-radius: $base-border-radius;
            border: 1px solid $secondary-color;
            @include sm {
                left: 6%;
            }
            @include md {
                left: 3%;
            }
            @include lg {
                left: 6.5%;
            }
            @include xl {
                left: 10%;
            }
    
            .title{
                font-weight: bold;
                @include sm {
                    font-size: 1.65rem;   
                }
                @include md {
                    font-size: 1.75rem;
                }
                @include lg {
                    font-size: 2rem;
                }
            }
            
            .textcontainer{
                height: 100%;
                width: 58%;
                display: flex;
                flex-direction: column;
            }

            .moneycontainer{
                display: flex;
                flex-direction: column;
                position: relative;
                @include sm {
                    top: 80%;  
                }
                @include md {
                    top: 72.5%;
                }
                @include lg {
                    top: 67.5%;
                }

                .sale{
                    @include md {
                        font-size: 1rem;
                        margin-top: 1%;
                    }
                    @include lg {
                        font-size: 1.25rem;
                        margin-top: 1%;
                    }
                }

                .money{              
                    font-weight: bold;
                    color: red;
                    @include sm {
                        font-size: 1.15rem;
                    }
                    @include md {
                        font-size: 1.5rem;
                    }
                    @include lg {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}