.userMultiMenuContainer {
    @include left-block(15%);

    .title {
        @include sm {
            display: none;
        }
        @include lg {
            display: inline-flex;
        }
        
        align-items: center;
        i {
            font-size: 35px;
        } 
        h1 {
            font-size: $font-size-lg;
            margin: $base-margin;
        }
    }
    .smoptions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 85%;
        margin: auto;
        margin-bottom: 10%;
        margin-top: 8%;
        p {
            display: none;
        }
        i {
            margin-right: $base-margin;
            font-size: 45px;
        }
        .button {
            &:hover {
                color: black;
            }
            width: 50px;
            height:50px;
            // margin: $base-margin;
        }
        hr {
            border: 0.5px white solid;
            width: 60%;
            margin: 0.5rem;
        }
    }
    .options {
        display: flex;
        flex-direction: column;

        .button {
            display: inline-flex;
            align-items: center;
            margin: $base-margin;
            &:hover {
                color: black;
            }
        }
        i {
            margin-right: $base-margin;
            font-size: 30px;
        }
        hr {
            border: 0.5px white solid;
            width: 80%;
            margin: $base-margin;
        }
        p{
            width: 80px;
        }
    }
    
}