.userIndexSectionContainer{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    .columnContainer {
        // flex-grow: 1.8;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: $base-padding * 3;
        @include xs {
            align-items: center;
        }
        @include lg {
            align-items: flex-end;

            a {
                margin-right: 8%;
            }
        }

        img{
            height: 100px;
            width: 100px;
        }

    }
}