
.userIndexSettingContainer{
    @include left-block(20%);
    @include set-leftblock-responsive(40%, 30%, 20%);

    padding: 3.5%;
    // justify-content: space-around;

    
    h1{
        font-size: $font-size-xl;
        font-weight: bold;
        color: #fff;
        margin-bottom: $base-margin;
    }
    .circle{
        position: relative;
        
        background-color: #fff;

        @include sm {
            height: 4rem;
            width: 4rem;
            border-radius: 4rem;
        }
        @include lg {
            height: 6rem;
            width: 6rem;
            border-radius: 6rem;
        }
    }
    .textcontainer {
        align-self: flex-start;
        font-size: $font-size-md;
        color: white;
        cursor: pointer;
        width: 100%;
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        p, button, h2{
            margin-top: $base-margin;
            margin-bottom: $base-margin;
        }
    }

    .btn{
        height: 2.5rem;
        width: 100%;
        align-self: flex-start;
        font-size: $font-size-md;
        border: transparent;
        background-color: white;
        border-radius: 5px;
        border: 1px solid black;
        cursor: pointer;

        z-index: 1;
    }
    h2 {
        font-size: $font-size-lg;
        margin-top: $base-margin * 2;
        &:hover {
            color: black;
            cursor: pointer;
        }
    }

}

