.userHotelRoomContainer {
    @include pageContainer;

    .main{
        @include template;
        
        .roomform {

            padding: 3%;
            background-color: white;
            display: grid;
            grid-template-columns: 1fr 5fr;
            align-items: center;
            border-radius: $base-border-radius;
            margin-bottom: 3%;

            * {
                margin-bottom: $base-margin * 1.5;
            }
            
            p{
                grid-column: 1/2;
            }
            .input {
                grid-column: 2/3;
                display: flex;
                align-items: center;
                p {
                    margin-right: $base-margin * 3;
                }
                input {
                    width: 10%;
                }
            }
            input {
                @include input(30%);
            }

            .labelcontainer {
                grid-column: 1/-1;
                display: flex;
                margin: 0;
                margin-bottom: $base-margin;
                @include styled_botton;
            }

            .textarea {
                height: 10em;
                width: 100%;
                @include textarea;
                grid-column: 1/-1;
            }
            
        } 

        .btn_content {
            margin-top: auto;
            display: flex;
            justify-content: flex-end;
            height: 10%;
        } 

        .newroom {
            * {
                font-size: $font-size-xl;
                font-weight: bold;
            }
            i {
                font-size: $font-size-xxl;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: $base-border-radius;
        }
    }
}
