.container{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 3%;
    margin-top:1%;
    right: 0%;
    top:10%;
    
}
.title{
    color: #fff;
    margin-top:10px;

}
.line1{
    width:40%;
    position: relative;
    
    
}
.content{
    color:#fff;
    margin-top: 10px;
    font-size: 1.2rem;
}