.searchBottomContainer {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }
  .searchBottomContainer .bottomleftcontainer {
    width: 400px;
    height: 760px;
    position: relative;
    background-color: dimgrey;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchBottomContainer .bottomrightcontainer{
    width: 1150px;
    height: 760px;
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .searchBottomContainer .bottomrightcontainer .bottomrightcontainer_ex2{
    width: 975px;
    height: 150px;
    position: relative;
    top: 5%;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .searchBottomContainer .bottomrightcontainer .bottomrightcontainer_ex2 .collection{
    width: 100px;
    height: 50px;
    position: relative;
    background-color: #CDCDCD;
    border-radius: 10px;
    top: 15%;
    right: -870px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .searchBottomContainer .bottomrightcontainer .bottomrightcontainer_ex{
    width: 975px;
    height: 500px;
    position: relative;
    background-color: #CDCDCD;
    top: 10%;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

 .searchBottomContainer .bottomrightcontainer .bottomrightcontainer_ex .bottomrightpicture{
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.searchBottomContainer .bottomrightcontainer .bottomrightcontainer_ex .bottomrightpicture2{
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;
    top: 180px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.searchBottomContainer .bottomrightcontainer .bottomrightcontainer_ex .bottomrightpicture3{
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.searchBottomContainer .bottomrightcontainer .bottomrightcontainer_ex .bottomrightpicture4{
    position: absolute;
    width: 775px;
    height: 300px;
    background-color: white;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.searchBottomContainer .bottomrightcontainer .bottomrightcontainer_ex .bottomrightpicture5{
    position: absolute;
    width: 378px;
    height: 140px;
    background-color: white;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.searchBottomContainer .bottomrightcontainer .bottomrightcontainer_ex .bottomrightpicture6{
    position: absolute;
    width: 378px;
    height: 140px;
    background-color: white;
    bottom: 20px;
    right: 415px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}