@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.background {
    background: #d9d9d9;
    height: 95%;
    width: 420px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    border-radius: 50px;
}

.logo,
.title,
.block,
.line1,
.line2,
.content,
.checkbox{
    margin-top:1rem;
    margin-bottom: 1rem;
}
.logo {
    top: 2%;
} 

.title {
    top: -1.2%;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 40px;
}

.block {
    padding: 0.6rem;
    background: #ffffff;
    width: 100%
}
.button {
    width: 68%;
}
.button, .block {
    height: 5%;
    border: none;
    border-radius: 1rem;
    font-size: 18px;
    
}

.content {
    width: 62%;
}

.line1, .line2 {
    width: 72%;
    border: 1px solid #333333;
    margin-left: auto;
    margin-right: auto;
}

.line1 {
    margin-top: 7%;
}
.line2 {
    margin-top: -3%;
}

.form {
    width: 69%;
    top: -2%;
}

.button2 {
    width: 5%;
    height: 5%;
    position: relative;
    left: 70%;
    top: -8%;
    border: none;
    background-color: #d9d9d9;

}

.checkbox {
    height: 15px;
    width: 15px;
    margin-top: 0.3rem;
}
.chcontent {
    font-size: 18px;
    font-weight: 650;
}

.link .content {
    top: -2%;
    margin-top: 0%;
    margin-bottom: 10px;
    color: #4CB6C5;
}

.logo, .title, .button, .form, .content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

