.selectform {

    background: #c7c2c2;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 15rem;
    height: 6%;

    font-size: 18px;
    font-weight: 600;
    padding-left: 0.6rem;

    border: None;
    border-radius: 0.5rem;

}

.option {
    font-weight: 600;
    background: #FFFFFF;
    border: #000000;
    border-radius: 1rem;
}