.searchcontainer{
    height: 80px;
    width: 850px;
    position: relative;
    background-color: aliceblue;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 24pt;
    border-radius: 30px;

    padding: 1px;
    left:100px;
    
    
    /* 水平、垂直置中 */
    display: flex;
    justify-content: center;   
}

.location,
.people,
.button,
.arrivetime,
.leavetime{
    height: 70px;
    border: none;
    background-color: transparent;
    font: 14px/44px 'Inter';
    outline: none;
    text-align: center;
    margin-bottom: 10px;
}