.searchcontainer{
    height: 60px;
    width: 850px;
    position: relative;
    background-color: aliceblue;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 16pt;
    border-radius: 30px;
    left:5%;
    display: flex;
    justify-content:space-evenly;   
    align-items: center;
}

.searchcontainer p{
    transform: translateY(-5%);
}

.button{ 
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 16pt;
    outline: none;
    text-align: center;
    font-weight: bold;    
    transform: translateY(-5%);
}

.selectform {
    background: transparent;
    font-size: 16pt;
    font-weight: bold;
    border: none;
    outline:none;
    transform: translateY(-5%);
}

.option {
    font-weight: bold;
    background: transparent;
}
.time{
    border: 0;
    background-color: aliceblue;
    font-size: 16pt;
    font-weight: bold;
    transform: translateY(-5%);
    cursor: pointer;
}
