.searchcontainer{
    height: 60px;
    width: 850px;
    position: relative;
    background-color: aliceblue;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 16pt;
    border-radius: 30px;
    left:5%;
    /* 水平置中 */
    display: flex;
    justify-content: center;   
    align-items: center;
}

.location,
.people,
.button,
.arrivetime,
.leavetime{ 
    height: 50px;
    border: none;
    background-color: transparent;
    width: 150px;
    font-size: 16pt;
    outline: none;
    text-align: center;
    font-weight: bold;
}

.location::placeholder,
.people::placeholder,
.arrivetime::placeholder,
.leavetime::placeholder {
    color:black;
    font-size: 16pt;
    }
