
.searchcontainer{
    position: relative;
    left:5%;
    top: 10%;
    height: 304px;
    width: 952px;
    background:white;
    border-radius: 30px;
    color:black;
    display: flex;
    
}

.img{
    width: 250px;
    height: 250px;
    margin: 25px;
    border-radius: 20px;
    object-fit: cover;
}

.name{
    width: 700px;
    margin-top: 25px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
}

.container{
    display: flex;
    margin-top: 80px;
}

.room,
.location{
    font-size: 24px;
    position: relative;
    margin-top: 10px;
}

.money,
.time{
    font-size: 24px;
    margin-right: 70px;
}

.situation{
    font-size: 36px;
    font-weight: bold;
    margin-left: 150px;
    position: relative;
    bottom: 10px;
}