
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.herocontainer .background{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter:brightness(0.7);
    position: fixed;
    z-index: -2;

}
.herocontainer{
    /*background: var(--img) center center/cover no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    object-fit: contain;
}
.herocontainer > h1{
    width: 850px;
    color: #fff;
    font-size: 96px;
    left: 5%;
    margin-bottom: 3%;
    font-family: 'Courgette', cursive;
    position: relative;

}
.button {
    display: inline-block;
    padding: 0;
    right: 5%;
    color: #000;
    text-decoration: none;
    background: 0 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.scrollindicator {
    position: absolute;
    bottom: 0;
    
}

.scrollindicatorlabel{
    display: block;
    margin-bottom: 2rem;
    font-size: 1rem;
    letter-spacing: .2em;
    color: #fff;
    text-transform: uppercase;
}


.scrollindicatorline{
    width: 2px;
    height: 5vh;
    background-color: #fff;
    transform-origin: center center;
    position: relative;
    left: 49%;
    
}
.mask{
    height: 100%;
    width:25%;
    left:3%;
    background-color: #000;
    opacity: 0.4;
    z-index: -1;
    position: fixed;
}

